{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div>
        <h1 class="home-heading">Problems Solved</h1>
        <a href="{% url 'contact' %}" class="contact-button">Contact Us</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4 my-auto py-1 py-lg-0 search-items">
            <form method="GET" action="" class="d-flex justify-content-end">
                <div class="input-group">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search for product">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
            <a class="back-to-items" href="{% url 'items' %}">Back to all products</a>
        </div>
    </div>
</div>
{% for item in items %}
<div class="item-box">
    <div class="item-list">
        {% if item.image %}
        <a href="">
            <img class="card-img-top img-fluid item-img" src="{{ item.image.url }}" alt="{{ item.name }}">
        </a>
        {% else %}
        <a href="">
            <img class="card-img-top img-fluid" src="" alt="{{ item.name }}">
        </a>
        {% endif %}
        <div class="item-details">
            <h3 class="product-name">{{ item.name }}</h3>
            <p class="lead mb-0">${{ item.price }}</p>
            <p class="lead mb-0">Item Number: {{ item.item_number }}</p>
            <small class="text-muted">Preferred Supplier: {{ item.preferred_supplier }}</small>
            <a href="{{ item.datasheet }}" target="_blank">Datasheet</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}