{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <h1 class="site-headings">Problems Solved</h1>
    <a href="{% url 'contact' %}" class="contact-button">Contact Us</a>
            <div class="homepage-box">
                <div class="row">
                    <div class="col">
                        {% if cart_items %}
                            <div class="table-responsive rounded"></div>
                        {% else %}
                            <p class="lead mb-5">Your bag is empty.</p>
                            <a href="{% url 'items' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
</div>
{% endblock %}