{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <!-- Heading -->
    <h1 class="site-headings">Contacts</h1>
    <p>Find who wants to get in touch</p>
    <!-- Contacts Section -->
    {% for contact in contacts %}
    <div class="contact-box">
        <div class="col-12 col-lg-10 col-xl-8">
            <!-- Contact Name -->
            <p class="lead mb-0">Name: {{ contact.name }}</p>
            <!-- Contact Email -->
            <p class="lead mb-0">Email: {{ contact.email }}</p>
            <!-- Contact Service -->
            <p class="lead mb-0">Service: {{ contact.service_needed }}</p>
            <!-- Contact Message -->
            <p class="lead mb-0">Message:{{ contact.message }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}