{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-wrapper">
    <h1 class="home-heading">Problems Solved</h1>
    <div class="homepage-box-form">
        <h2 class="form-heading">Contact Us</h2>
            <!-- Contact Form -->
            <form class="mb-5" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                {{ form.name.label_tag}}
                {{ form.name }}
                {{ form.name.errors}}
            </p>
            <p>
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </p>
            <p>
                {{ form.service_needed.label_tag }}
                {{ form.service_needed }}
            </p>
            <p>
                {{ form.message.label_tag }}
                {{ form.message }}
            </p>
            <!-- Add Services button -->
            <input class="btn btn-success" type="submit" name="submit" />
            </form>
    </div>
</div>
{% endblock %}