{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
  <!-- Homepage image -->
  <section class="hero-section">
    <div class="hero-image">
      <img src="{% static 'images/hero-image.jpg' %}" alt="Hydraulic system image">
        <div class="hero-overlay">
          <h1 class="hero-title">Hydraulic Design Excellence</h1>
          <p class="hero-subtitle">Bespoke consultancy & project solutions that keep things moving</p>
          <a href="{% url 'contact' %}" class="hero-button">Contact Us</a>
        </div>
    </div>
  </section>

  <section class="services-icons">
    <div class="icon-block"><i class="fas fa-cogs"></i><p>Hydraulic Design</p></div>
    <div class="icon-block"><i class="fas fa-lightbulb"></i><p>Consultancy</p></div>
    <div class="icon-block"><i class="fas fa-tasks"></i><p>Project Management</p></div>
    <div class="icon-block"><i class="fas fa-chalkboard-teacher"></i><p>Training</p></div>
    <div class="icon-block"><i class="fas fa-wrench"></i><p>Problem Solving</p></div>
  </section>

  <!-- About Section -->
  <div class="homepage-bottom">
    <div class="about-box">
      <div class="about-img">
        <img src="{% static 'images/about-img.png' %}" alt="Image of Kevin McCaffrey">
      </div>
      <!-- About Text -->
      <div class="about-text">
        {% if who_we_are %}
          <h1 class="homepage-text">{{ who_we_are.name }}</h1>
          <p class="lead mb-0 service-text">{{ who_we_are.description|safe }}</p>
          <br>
          <h1 class="homepage-text">About Kevin McCaffrey</h1>
          <p class="lead mb-0 service-text">{{ who_we_are.about_kevin|safe }}</p>
        {% else %}
          <p>No "Who We Are" content found.</p>
        {% endif %}
          <!-- Edit button -->
        <div class="card-buttons">
          {% if user.is_authenticated and user.is_superuser and who_we_are %}
          <a href="{% url 'edit_whoweare' pk=who_we_are.pk %}" class="btn btn-edit">Edit</a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}