{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-wrapper">
        <h1 class="home-heading">Problems Solved</h1>
        <a href="{% url 'contact' %}" class="contact-button">Contact Us</a>
            <div class="homepage-box">
                <div>
                    <p>Hydraulic Design, Consultancy, Project Management & Training</p>
                    <br>
                    <p class="homepage-text">
                        About KMC Projects
                    </p>
                    <span>
                        Welcome to our world of Hydraulic Design Excellence! 
                        At KMC Projects, we offer a comprehensive suite of services including <strong>hydraulic design, 
                        consultancy, project management, and training.</strong> With years of experience and a team of 
                        seasoned experts, we specialize in crafting innovative <strong>hydraulic solutions</strong> tailored to 
                        your unique needs. Whether you're embarking on a new project, seeking optimization 
                        for existing systems, or aiming to enhance your team's skills, we're here to guide you 
                        every step of the way. Dive into the fluid dynamics of success with KMC Projects, where 
                        precision, efficiency, and expertise converge.
                    </span>
                    <p>
                    </p>
                </div>
            </div>
            <div class="cylinder-scroll">
                <img class="cylinders-img" src="{% static 'images/cylinders.jpg' %}" alt="cylinders image">
            </div>
            <div class="homepage-bottom">
                    <div class="about-box">
                        <div class="about-img">
                            <img src="{% static 'images/about-img.png' %}" alt="Image of Kevin McCaffrey">
                        </div>
                        <div class="about-text">
                            <h1 class="homepage-text">
                                About Kevin McCaffrey
                            </h1>
                            <span>
                                <p>
                                    Kevin began his previous company, Excel Hydraulics, in 1998. What began with Kevin tinkering in his garage led to a thriving business, acquired in 2016.
                                </p>
                                <p>
                                    His passion for fixing problems continues in his new enterprise. Kevin is renowned for his innovation and getting the best out of people.
                                </p>
                                <p>
                                    He is a specialist in <strong>fluid power engineering, hydraulics, and problem-solving</strong>.
                                </p>
                            </span>
                        </div>
                    </div>
            </div>
    </div>

{% endblock %}