{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <!-- Include additional CSS -->
    <link rel="stylesheet" href="{% static 'orders/css/orders.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Heading and Contact Button -->
    <h1 class="site-headings">Thanks for your order</h1>
    <a href="{% url 'contact' %}" class="contact-button">Contact Us</a>
    <hr>
    <div class="col">
        <!-- Information about the order -->
        <p class="text-muted">Your order information is below, you will receive a confirmation email shortly to {{ order.email }}</p>
    </div>
    <div class="order-success-box">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <!-- Order Confirmation Details -->
                <div class="order-confirmation-wrapper p-2">
                    <!-- Order Info -->
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Order Info:</span>
                        </div>
                    </div>

                    <!-- Order Number -->
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted">Order Number</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0 text-muted">{{ order.order_number }}</small>
                        </div>
                    </div>

                    <!-- Order Date -->
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted">Order Date</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0 text-muted">{{ order.date }}</small>
                        </div>
                    </div>

                    <!-- Order Details -->
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Order Details:</span>
                        </div>
                    </div>

                    <!-- List of ordered items -->
                    {% for item in order.lineitems.all %}
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0">
                                {{ item.item.name }}
                            </small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0">{{ item.quantity }} x ${{ item.item.price }} each</small>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Delivery Information -->
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Delivering To:</span>
                        </div>
                    </div>

                    <!-- Full Name -->
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0">Full Name</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0">{{ order.full_name }}</small>
                        </div>
                    </div>

                    <!-- Address 1 -->
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0">Address 1</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0">{{ order.street_address1 }}</small>
                        </div>
                    </div>

                    <!-- Address 2 (if available) -->
                    {% if order.street_address2 %}
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0">Address 2</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0">{{ order.street_address1 }}</small>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Town or City -->
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0">Town or City</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0">{{ order.town_or_city }}</small>
                        </div>
                    </div>

                    <!-- Postal Code (if available) -->
                    {% if order.postcode %}
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0">Postal Code</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0">{{ order.postcode }}</small>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Country -->
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0">Country</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0">{{ order.country }}</small>
                        </div>
                    </div>

                    <!-- Phone Number -->
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0">Phone Number</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0">{{ order.phone_number }}</small>
                        </div>
                    </div>

                    <!-- Billing Information -->
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">Billing Info:</span>
                        </div>
                    </div>

                    <!-- Order Total -->
                    <div class="row border-bottom">
                        <div class="col-12 col-md-4">
                            <small class="mb-0">Order Total</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 font-weight-bold">${{ order.total_price }}</p>
                        </div>
                    </div>
                </div>
                <!-- Back to Home Button -->
                <a href="{% url 'home' %}" class="btn btn-black rounded-0 text-uppercase mt-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Home</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}