{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'orders/css/orders.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <h1 class="site-headings">Thanks for your order</h1>
    <a href="{% url 'contact' %}" class="contact-button">Contact Us</a>
    <div class="col">
        <p class="text-muted">Your order information is below, you will recieve a confrimation email shortly to {{ order.email }}</p>
    </div>
    <div class="row justify-content-center">
        <p>Hello world</p>
    </div>
</div>
{% endblock %}