@import url("https://use.typekit.net/qlo3ytp.css");

body {
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 100;
    color: black;
    background-color: #e6e6e6;
}

/* Logo */

.logo-font {
    color: #f99411;
}

/* Nav Bar */

.navbar-toggler-icon {
    background-color: f99411;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar .navbar-nav .nav-link {
    color: black;
}

/* index.html */
.content-wrapper {
    padding-top: 100px;
    text-align: center;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f99411;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #f99411; 
    text-decoration: none;
    color: black;
}


/* Media Queries for mobile */

@media (max-width: 991.98px) {
    .navbar {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-toggler {
        order: 3;
        align-self: flex-end;
    }

    .navbar-collapse {
        order: 1;
        width: 100%;
        text-align: right;
        margin-top: 10px;
    }
}