@import url("https://use.typekit.net/qlo3ytp.css");

body {
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 100;
    color: black;
    background-color: #e6e6e6;
}

h1,
h2 {
    text-transform: uppercase;
}

.site-headings {
    margin-top: 20px;
}

a {
    color: #f99411;
}

/* Logo */

.logo-img {
    width: 50%;
    text-align: center;
}

.tagline {
    text-decoration: none;
    font-size: 15px;
    margin-top: 2px;
    color: black;
}

/* Nav Bar */

.navbar-toggler-icon {
    background-color: #f99411;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-link.active {
    color: #f99411;
}

/* Site boxes */

.homepage-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

.contact-box {
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

.about-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services-inner-box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 50%;
}

.services-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    box-sizing: border-box;
}

.casestudy-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-box {
    position: relative;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homepage-box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
}

.added-item-box {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-emtpy-box {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    text-align: left;
    margin: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-success-box {
    text-align: left;
    margin: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-form-box,
.user-details-form-box {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Homepage */

.content-wrapper {
    padding-top: 100px;
    text-align: center;
}

.home-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f99411;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.cylinders-img {
    width: 100%;
    height: auto;
}

.contact-button:hover {
    background-color: #f99411; 
    text-decoration: none;
    color: black;
}

/* Contact List */

.contact-box p {
    text-align: left;
}

/* Homepage Text */

.homepage-text {
    font-size: 15px;
    color: black;
}

.homepage-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    height: 900px;
}

/* About */

.about-img img {
    max-width: 100%;
    height: auto;
}

.about-img,
.about-text {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    box-sizing: border-box;
}

.about-text {
    padding-left: 20px;
}

.about-text h1 {
    font-weight: bold;
}

/* Servcies */

.services-box.wrap-after-three {
    flex-wrap: wrap;
}

.service-text {
    display: flex;
    font-size: .9em;
}

.casestudy-text {
    font-size: 15px;
    color: black;
    text-align: left;
}

.casestudy-text p,
.casestudy-text li {
    text-transform: none;
}

.casestudy-img {
    flex: 0 0 auto;
    margin-right: 20px;
}

.card-buttons {
    display: flex;
    justify-content: center;
}

.add-casestudy-btn {
    padding-bottom: 20px;
}

.django-ckeditor-widget {
    width: 100%;
}

/* Items */

.item-list {
    display: flex;
    align-items: center;
}

.item-img {
    max-width: 150px;
    height: auto;
}

.item-details {
    margin-left: 20px;
    flex-basis: calc(60% - 20px);
}

.product-name {
    margin-bottom: 10px;
}

.product-name h3 {
    margin: 0;
}

.product-text {
    text-align: left;
}

.back-to-items {
    padding: 5px;
    color: #f99411;
}

.back-to-items-bottom {
    padding: 5px;
    color: #f99411;
    display: flex;
    justify-content: right;
    margin-right: 20px;
}

.back-to-items:hover,
.back-to-items-bottom:hover {
    color: black;
    text-decoration: none;
}

/* Contact Form */

.form-heading {
    text-align: center;
    margin-bottom: 20px;
}

form {
width: 100%;
}

label {
margin-bottom: 5px;
display: block; 
}

input, textarea, select {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

textarea {
resize: vertical;
}

input[type="submit"] {
width: 100%;
background-color: #f99411;
color: white;
border: none;
cursor: pointer;
border-radius: 4px;
padding: 10px;
box-sizing: border-box;
}

input[type="submit"]:hover {
background-color: black;
color: #f99411;
}

/* Login */
.login-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

.login-wrapper {
    text-align: center;
    margin-top: 100px;
}

.create-account {
    margin-top: 20px;
}

.login-form {
    width: 70%;
    overflow: hidden;
}

.form-field.remember-me {
    display: flex;
    align-items: center;
}

.form-field.remember-me input[type="checkbox"],
input[type=checkbox], input[type=radio] {
    margin-left: 5px;
    flex: none;
    width: auto;
}

.form-field.remember-me label {
    margin-right: 10px;
    display: flex;
}

.form-field.remember-me a.forgot-password {
    margin-left: auto;
}

.primaryAction {
    float: right;
    padding: 5px 10px;
    background-color: #f99411;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
}

.primaryActionlogout,
.primaryActiondelete {
    padding: 5px 10px;
    background-color: #f99411;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
}

.primaryAction:hover,
.primaryActionlogout:hover,
.primaryActiondelete:hover {
    color: black;
}

.form-field-error {
    color: red;
}

/* Cart */

.added-item-img {
    max-width: 80px;
}

.added-item-costs {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.add-to-cart-btn {
    position: absolute;
    right: 0;
    margin-right: 10px;
    flex-basis: calc(40% - 20px);
}

.remove-btn {
    width: 100%;
    background-color: #f99411;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
  }

  .remove-btn:hover {
    background-color: black;
    color: #f99411;
  }

/* Orders */

.order-list {
    align-items: center;
}

/* Footer */

.footer i {
    color: #f99411;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: none;
    color: #f99411;
}

.fa-github {
    text-decoration: none;
    color: #f99411;
}

footer {
    color: white;
    background-color: #464443;
}

.site-creator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.site-creator li {
    font-size: 12px;
    color: white;
}


/* Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.checkout-btn-success:hover {
    background-color: #f99411; 
    color: white;
}

/* Order Success */

.order-confirmation-wrapper {
    width: 100%;
    padding: 10px;
}

.order-confirmation-wrapper .row {
    margin-bottom: 5px;
}

/* Error handling */

.page-error {
    text-align: center; 
    margin-top: 200px; 
  }
  


/* Media Queries for mobile */

@media (max-width: 995px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 0;
    }

    .navbar-toggler {
        order: -1;
    }

    .navbar-toggler-icon {
        order: -1;
    }

    .navbar-collapse {
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }

    .content-wrapper {
        padding-top: 150px;
    }

    .login-wrapper {
        padding-top: 50px;
    }

    .login-form {
        width: 100%;
        font-size: medium;
    }

    .homepage-box,
    .homepage-box-form,
    .contact-box,
    .about-box,
    .order-success-box,
    .login-box,
    .sign-up-box,
    .casestudy-box,
    .services-box {
        margin: 30px 10px;
    }

    .order-form-box,
    .user-details-form-box {
        width: 80%;
    }

    .order-list,
    .cart-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about-img,
    .about-text {
        flex: 1 1 auto;
        max-width: 100%; 
    }

    .about-text {
        padding-left: 0;
        padding-top: 20px;
    }

    .search-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .services-box {
        flex-wrap: wrap;
    }

    .service-text {
        flex-wrap: wrap;
    }

    .services-inner-box {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .item-box {
        display: block;
    }

    .item-list {
        flex-direction: column;
    }
    .item-details {
        margin-left: 0;
        flex-basis: 100%;
        margin-bottom: -20px;
    }

    .item-details h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .item-details p {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .add-to-cart-btn {
        position: relative;
        margin-top: 10px;
    }
    .add-to-cart-btn form {
        width: 100%;
    }
    .add-to-cart-btn input[type="number"],
    .add-to-cart-btn input[type="submit"] {
        padding: 8px 12px;
        font-size: 12px; 
    }

    .form-group.w-50 {
        margin-bottom: -30px;
    }

    .item-img {
        max-width: 100px;
        margin-bottom: 10px;
    }

    .added-item-box {
        width: 80vw;
        margin: 10px auto;
        display: block;
    }

    .added-item-img {
        max-width: 100px;
    }

    .item-details {
        flex-basis: 60%;
        margin-left: 10px;
    }

    .added-item-costs {
        position: static;
        margin: 10px 0;
        text-align: right;
    }

    .remove-btn {
        width: auto;
        margin-top: 20px;
    }
}