{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<!-- Login wrapper -->
<div class="login-wrapper">
    <!-- Login heading -->
    <h1 class="login-heading">{% trans "Welcome" %}</h1>
    <!-- Contact Us button -->
    <a href="{% url 'contact' %}" class="contact-button">{% trans "Contact Us" %}</a>
</div>

<div class="login-box">
    <div class="login-form">
        <!-- Password Reset heading -->
        <h1>{% trans "Password Reset" %}</h1>
        <!-- Check if user is already authenticated -->
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <!-- Password reset instructions -->
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>

        <!-- Password reset form -->
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}">
        </form>
        <!-- Trouble resetting password message -->
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>
{% endblock content %}