{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<!-- Login wrapper -->
<div class="login-wrapper">
    <!-- Login heading -->
    <h1 class="login-heading">{% trans "Password Reset" %}</h1>
    <!-- Contact Us button -->
    <a href="{% url 'contact' %}" class="contact-button">{% trans "Contact Us" %}</a>
</div>

<div class="login-box">
    <div class="login-form">
        <!-- Password Reset heading -->
        <h1>{% trans "Password Reset" %}</h1>
        <!-- Check if user is already authenticated -->
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <!-- Password reset instructions -->
        <p>You should have received an email with your reset link. Alternatively please head to the <a href="{% url 'account_login' %}">login </a> page to sign in.</p>

        <!-- Trouble resetting password message -->
        <p>{% blocktrans %}Contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>
{% endblock content %}