{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<!-- Sign Up heading -->
<h1>{% trans "Sign Up" %}</h1>

<!-- Message for users with existing accounts -->
<p>
  {% blocktrans %}
    Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
  {% endblocktrans %}
</p>

<!-- Login wrapper -->
<div class="login-wrapper">
  <!-- Login heading -->
  <h1 class="login-heading">{% trans "Welcome" %}</h1>
  <!-- Contact Us button -->
  <a href="{% url 'contact' %}" class="contact-button">{% trans "Contact Us" %}</a>
</div>

<!-- Sign-up box -->
<div class="sign-up-box">
  <div class="login-form">
    <!-- Sign-up form -->
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <!-- Display form fields -->
      <label for="id_username">{% trans "Username" %}:</label>
      <input type="text" name="username" id="id_username" required placeholder="{% trans 'Enter your username' %}">
      {% if form.username.errors %}
        <ul class="errorlist">
          {% for error in form.username.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <label for="id_email">{% trans "Email address" %}:</label>
      <input type="email" name="email" id="id_email" required placeholder="{% trans 'Enter your email address' %}">
      {% if form.email.errors %}
        <ul class="errorlist">
          {% for error in form.email.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <label for="id_email2">{% trans "Confirm email address" %}:</label>
      <input type="email" name="email2" id="id_email2" required placeholder="{% trans 'Confirm your email address' %}">
      {% if form.email2.errors %}
        <ul class="errorlist">
          {% for error in form.email2.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <label for="id_password1">{% trans "Password" %}:</label>
      <input type="password" name="password1" id="id_password1" required placeholder="{% trans 'Enter your password' %}">
      {% if form.password1.errors %}
        <ul class="errorlist">
          {% for error in form.password1.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <!-- Password requirements -->
      <p>{% trans "Password must contain the following:" %}</p>
      <ul>
        <li>{% trans "At least 8 characters" %}</li>
        <li>{% trans "At least one uppercase letter" %}</li>
        <li>{% trans "At least one lowercase letter" %}</li>
        <li>{% trans "At least one number" %}</li>
        <li>{% trans "At least one special character" %}</li>
      </ul>
      <label for="id_password2">{% trans "Confirm Password" %}:</label>
      <input type="password" name="password2" id="id_password2" required placeholder="{% trans 'Confirm your password' %}">
      {% if form.password2.errors %}
        <ul class="errorlist">
          {% for error in form.password2.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <!-- Redirect field value -->
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <!-- Sign-up button -->
      <button type="submit" class="primaryAction">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock content %}