{% load static %}
{% url 'home' as home_url %}
{% url 'services' as services_url %}
{% url 'cart' as cart_url %}
{% url 'items' as items_url %}
{% url 'orders' as orders_url %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!doctype html>
<html lang="en">
  <head>

{% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block corecss %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Adobe Font -->
    <link rel="stylesheet" href="https://use.typekit.net/qlo3ytp.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    {% endblock %}

{% block extra_css %}
{% endblock %}

{% block corejs %}
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Stripe Scripts -->
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

<title>KMC Projects {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <!-- Logo and Navbar -->
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2">
            <div class="col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img class="logo-img" src="{% static 'images/logo.png' %}" alt="kmc project logo image">
                    <p class="tagline">Hydraulic Design, Consultancy, Project Management & Training</p>
                </a>
            </div>
            <div class="col-lg-8">
                <nav class="navbar navbar-expand-lg justify-content-end">
                    <!-- Hamburger Menu for Mobile -->
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar Links -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/services/' %}active{% endif %}" href="{% url 'services' %}">Services</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link {% if request.path == '/items/' %}active{% endif %}" href="{% url 'items' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Products
                                  <i class="fa-solid fa-square-chevron-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="nav-link {% if request.path == '/items/' %}active{% endif %}" href="{% url 'items' %}">View all products</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="{% url 'items' %}?type=actuator">Actuators</a>
                                  <a class="dropdown-item" href="{% url 'items' %}?type=connector">Connectors</a>
                                  <a class="dropdown-item" href="{% url 'items' %}?type=electronics">Electronics</a>
                                  <a class="dropdown-item" href="{% url 'items' %}?type=filtration">Filtration</a>
                                  <a class="dropdown-item" href="{% url 'items' %}?type=sensors">Sensors</a>
                                  <a class="dropdown-item" href="{% url 'items' %}?type=valve">Valves</a>
                                </div>
                              </li>
                             <!-- Logout Nav Link only to show if logged in -->
                             {% if user.is_authenticated %}
                             <li class="nav-item">
                                <a class="nav-link" href="#">Your Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            {% else %}
                             <!-- Login Nav Link -->
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/account/login/' %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/cart/' %}active{% endif %}" href="{% url 'cart' %}">Cart
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <div>
                                        <p class="my-0">
                                            {% if total %}
                                                ${{ total|floatformat:2 }}
                                            {% else %}
                                                $0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Left column -->
                <ul class="list-unstyled d-flex flex-column">
                    <li class="d-flex flex-row align-items-center">
                        Contact Details:
                    </li>
                    <li class="d-flex flex-row align-items-center">
                        <i class="fas fa-phone-alt mr-2"></i><a href="tel: +61477020336">Phone: +61 477 020 336</a>
                    </li>
                    <li class="d-flex flex-row align-items-center">
                        <i class="fas fa-envelope mr-2"></i> <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <br>
                    <li class="d-flex flex-row align-items-center">
                        Connect with us on social:
                    </li>
                    <li class="d-flex flex-row align-items-center">
                        <a href="https://www.facebook.com/kmc.projects.admin/" target="_blank" rel="noopener" aria-label="KMC Facebook page"><i class="fab fa-facebook mr-2"></i> Facebook</a>
                    </li>
                    <li class="d-flex flex-row align-items-center">
                        <a href="https://www.linkedin.com/in/kevmccaffrey?originalSubdomain=nz" target="_blank" rel="noopener" aria-label="Linkedin Kevin McCaffrey"><i class="fab fa-linkedin mr-2"></i> LinkedIn</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-right site-creator">
                <!-- Site creator details -->
                <ul class="list-unstyled d-flex flex-column">
                    <li>
                        {% block copyright %}Site made by Sarah Goodwin{% endblock copyright %}
                    </li>
                    <li>
                        <a href="https://github.com/sarahgoodwin93" target="_blank" rel="noopener" aria-label="Github Page">Github: <i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% include 'includes/toasts/toast_success.html' %}
        {% endfor %}
    </div>
{% endif %}

{% block extra_js %}
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/17e7a6d47c.js" crossorigin="anonymous"></script>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script> 
{% endblock %}

</body>
</html>