{% load static %}

<!doctype html>
<html lang="en">
  <head>

{% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block corecss %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Adobe Font -->
    <link rel="stylesheet" href="https://use.typekit.net/qlo3ytp.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    {% endblock %}

{% block extra_css %}
{% endblock %}

{% block corejs %}
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

<title>KMC Projects {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <!-- Logo and Navbar -->
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2">
            <div class="col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img class="logo-img" src="{% static 'images/logo.png' %}" alt="kmc project logo image">
                    <p class="tagline">Hydraulic Design, Consultancy, Project Management & Training</p>
                </a>
            </div>
            <div class="col-lg-8">
                <nav class="navbar navbar-expand-lg justify-content-end">
                    <!-- Hamburger Menu for Mobile -->
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar Links -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Products
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="#">Values</a>
                                  <a class="dropdown-item" href="#">Clamps</a>
                                  <a class="dropdown-item" href="#">Sensors</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">View all products</a>
                                </div>
                              </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cart
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <li class="footer-text m-0 text-center">
        {% block copyright %}Made by Sarah Goodwin{% endblock copyright %}
    </li>
    <li class="footer-text m-0 text-center">
        Connect with us: <a href="https://github.com/sarahgoodwin93/kmc-projects" target="_blank" rel="noopener" aria-label="Github Page"><i class="fa-brands fa-github"></i></a>
    </li>
</footer>

{% if messages %}
    <div class="message-container"></div>
{% endif %}

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block extra_js %}
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/17e7a6d47c.js" crossorigin="anonymous"></script>
{% endblock %}

{% block postloadjs %}  
{% endblock %}

</body>
</html>