{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-wrapper">
    <h1 class="home-heading">Problems Solved</h1>
    <div class="homepage-box-form">
        <h2 class="form-heading">Delete Service</h2>
            <!-- Delete Services Form -->
            <form class="delete-swim" method="POST">
                {% csrf_token %}
                <p>Are you use you want to delete this service?</p>
                <!-- Delete Service Button -->
                <button class="btn btn-delete primaryActiondelete">Delete</button>
            </form>
    </div>
</div>

{% endblock %}