{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-wrapper">
        <!-- Heading and contact button -->
        <h1 class="site-headings">Services</h1>
        <a href="{% url 'contact' %}" class="contact-button">Contact Us</a>
        <!-- Services list -->
        <div class="services-box{% if services|length > 3 and forloop.counter0|divisibleby:3 %} wrap-after-three{% endif %}">
            <div class="service-text">
                {% for service in services %}
                    <div class="services-inner-box">
                        <div class="services-list">
                            <!-- Service details -->
                            <div class="services-details">
                                 <!-- Icon -->
                                <div class="service-icon">
                                    {% if service.name == "Consulting" %}
                                        <i class="fa-solid fa-user-tie"></i>
                                    {% elif service.name == "Training" %}
                                        <i class="fa-solid fa-chalkboard-teacher"></i>
                                    {% elif service.name == "Project Management" %}
                                        <i class="fa-solid fa-clipboard-check"></i>
                                    {% elif service.name == "Hydraulic Design" %}
                                        <i class="fa-solid fa-cogs"></i>
                                    {% elif service.name == "Troubleshooting" %}
                                        <i class="fa-solid fa-tools"></i>
                                    {% endif %}
                                </div>
                                <!-- Text -->
                                <h3 class="product-name">{{ service.name }}</h3>
                                <p class="lead mb-0 service-text">{{ service.description }}</p>
                            </div>
                            <!-- Edit button -->
                            <div class="card-buttons">
                                {% if user.is_authenticated and user.is_superuser %}
                                    <a href="{% url 'edit_service' pk=service.pk %}" class="btn btn-edit">Edit</a>
                                {% endif %}
                            </div>
                            <!-- Delete button -->
                            <div class="card-buttons">
                                {% if user.is_authenticated and user.is_superuser %}
                                    <a href="{% url 'delete_service' pk=service.pk %}" class="btn btn-delete">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Add button for services -->
        <div class="card-buttons">
            {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'add_service' %}" class="btn btn-edit">Add New Service</a>
            {% endif %}
        </div>

        <!-- Heading-->
        <div class="content-wrapper">
        <!-- Horizontal Scroll Case Studies -->
        <section class="case-study-scroll">
            <div class="case-study-panels">
            {% for casestudy in casestudies %}
                <div class="case-study-panel">
                {% if casestudy.image %}
                    <img src="{{ casestudy.image.url }}" alt="{{ casestudy.title }}">
                {% else %}
                    <img src="{% static 'images/placeholder-img.png' %}" alt="placeholder image">
                {% endif %}
                <div class="case-study-panel-content">
                    <h2>{{ casestudy.title }}</h2>
                    <p>{{ casestudy.body|truncatewords:25 }}</p>
                    {% if user.is_authenticated and user.is_superuser %}
                    <div class="card-buttons">
                        <a href="{% url 'edit_casestudy' pk=casestudy.pk %}" class="btn btn-edit">Edit</a>
                        <a href="{% url 'delete_casestudy' pk=casestudy.pk %}" class="btn btn-delete">Delete</a>
                    </div>
                    {% endif %}
                </div>
                </div>
            {% endfor %}
            </div>
        </section>
        
        <!-- Add button for case study -->
        <div class="card-buttons add-casestudy-btn">
            {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'add_casestudy' %}" class="btn btn-edit">Add New Case Study</a>
            {% endif %}
        </div>
    </div>


{% endblock %}