{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <h1 class="about-heading">Services</h1>
    <a href="{% url 'contact' %}" class="contact-button">Contact Us</a>
    <div class="about-box">
        <div class="about-img">
            <img src="{% static 'images/about-img.png' %}" alt="Image of Kevin McCaffrey">
        </div>
        <div class="about-text">
            <h1 class="homepage-text">
                About Kevin McCaffrey
            </h1>
            <p>
                Kevin began his previous company, Excel Hydraulics, in 1998. What began with Kevin tinkering in his garage led to a thriving business, acquired in 2016.
            </p>
            <p>
                His passion for fixing problems continues in his new enterprise. Kevin is renowned for his innovation and getting the best out of people.
            </p>
            <p>
                He is a specialist in fluid power engineering, hydraulics, and problem-solving.
            </p>
        </div>
    </div>
</div>
{% endblock %}