{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <h1 class="about-heading">Services</h1>
    <a href="{% url 'contact' %}" class="contact-button">Contact Us</a>
    <div class="services-box">
        <div class="service-text">
            {% for service in services %}
                <div class="services-box">
                    <div class="services-list">
                        <div class="services-details">
                            <h3 class="product-name">{{ service.name }}</h3>
                            <p class="lead mb-0">${{ service.price }}</p>
                            <p class="lead mb-0">{{ service.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="content-wrapper">
    <h1 class="about-heading">Case Studies</h1>
    <div class="homepage-box">
        {% for casestudy in casestudy %}
            <div class="case-study">
                <h1 class="homepage-text">
                    {{ casestudy.title }}
                </h1>
                <p>{{ casestudy.body }}</p>
                {% if casestudy.image %}
                    <a href="">
                        <img class="card-img-top img-fluid item-img" src="{{ casestudy.image.url }}" alt="{{ casestudy.title }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="" alt="{{ casestudy.title }}">
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}